* {
    background-color: #d6f8d6;
}

p {
    text-align: center;
    font-size: 18px;
    font-family: lucida sans;
}

.heading {
    text-align: center;
    font-size: 70px;
    font-family: rockwell extra bold;
}

.sub-head {
    text-align: center;
    font-family: comic sans ms;
}

.sub-head-2 {
    text-align: center;
    font-family: comic sans ms;
}

.chef-img {
    height: 250px;
    width: 300px;
}

.rec-img {
    height: 500px;
    width: 500px;
}

.u-list {
    text-align: center;
    font-size: 18px;
    font-family: courier;
}

.o-list {
    text-align: center;
    font-size: 18px;
    font-family: courier;
}

.recipies {
    font-size: 18px;
    font-family: comic sans ms;
}

a {
    font-size: 18px;
    font-family: gill sans;
}